<?xml version="1.0" encoding="utf-8"?><!--
  ~  Unauthorized copying of this file, via any medium is strictly prohibited
  ~  Proprietary and confidential
  ~  Copyright (C) 2015 Ivan Wesley Chua and Jethro Divino
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesis.geyoubeta">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <!-- The ACCESS_COARSE/FINE_LOCATION permissions are not required to use Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCdp9kV6gks62Zq1cBkGWXoK_cEj4ifEt4" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:label="@string/title_activity_user_info_edit" />
        <activity
            android:name=".activity.CreatePartyActivity"
            android:label="@string/title_activity_create_party" />
        <activity
            android:name=".activity.PartyInfoActivity"
            android:label="@string/title_activity_party_info" />
        <activity
            android:name=".activity.MessagesActivity"
            android:label="@string/title_activity_messages" />
        <activity
            android:name=".activity.MapActivity"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".activity.IPSettingsActivity"
            android:label="@string/title_activity_ipsettings" />
        <activity
            android:name=".activity.HistoryActivity"
            android:label="@string/title_activity_history" />
        <activity
            android:name=".activity.PartyMembersActivity"
            android:label="@string/title_activity_party_members"></activity>
    </application>

</manifest>
