<?xml version="1.0" encoding="utf-8"?><!--
  ~  Unauthorized copying of this file, via any medium is strictly prohibited
  ~  Proprietary and confidential
  ~  Copyright (C) 2015 Ivan Wesley Chua and Jethro Divino
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesis.geyoubeta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".activity.UserInfoEditActivity"
            android:label="@string/title_activity_user_info_edit"></activity>
    </application>

</manifest>
